---
interface Props extends Contact {}

const contact = Astro.props;
---

<div
  class="contact-card bg-white p-5 rounded-2xl flex flex-col border border-gray-300 gap-2.5 items-center"
>
  <p class="text-3xl lg:text-[32px] font-bold">{contact.headText}</p>
  <div class="flex items-center gap-3 my-2.5 font-['Comofortaa']">
    <img
      src={contact.imageUrl}
      class="rounded-full"
      alt={`${contact.name} images`}
    />
    <p>
      {contact.name}<br />
      {contact.address}
    </p>
  </div>

  <div class="flex flex-col gap-2 my-2.5">
    <a class="flex items-center gap-2" href={`tel:+${contact.tel}`}>
      <img src="/phone.svg" alt="phone" />
      {contact.phone}
    </a>
    <a class="flex items-center gap-2" href={`tel:+${contact.tel}`}>
      <img src="/tel.svg" alt="tel" />
      {contact.tel}
    </a>
    <a class="flex items-center gap-2" href={`mailto:${contact.email}`}>
      <img src="/mail.svg" alt="email" />
      {contact.email}
    </a>
  </div>

  <a
    href="#"
    class="bg-[#112546] py-2 w-full flex justify-center text-white rounded-full"
    >Blitz-Bewerbung!</a
  >
  <div class="grid grid-cols-2 gap-2 w-full">
    <a
      class="flex items-center gap-2 justify-center py-2 rounded-full border-2 border-[#112546]"
      href="#"><img src="/location.svg" alt="location" /> Route</a
    >
    <a
      class="flex items-center gap-2 justify-center py-2 rounded-full border-2 border-[#112546]"
      href="#"><img src="/mobile.svg" alt="mobile" /> Anrufen</a
    >
    <a
      class="flex items-center gap-2 justify-center py-2 rounded-full border-2 border-[#112546]"
      href="#"><img src="/phone2.svg" alt="phone" /> Anrufen</a
    >
    <a
      class="flex items-center gap-2 justify-center py-2 rounded-full border-2 border-[#112546]"
      href="#"><img src="/mail2.svg" alt="mail" /> E-Mail</a
    >
  </div>
</div>
