---
interface Props extends astroHTML.JSX.SelectHTMLAttributes {
  name: string;
  options: string[];
}
const { name, options = [], class: className, ...props } = Astro.props;

const inputName = name.toLowerCase().replaceAll(" ", "-");
---

<div class="input-group flex flex-col gap-2 w-full">
  <label for={inputName}>{name}*</label>

  <select
    name={inputName}
    class="border border-[#CFCFCF] py-2 px-5 rounded bg-white text-gray-500"
  >
    <option value="">Placeholder</option>

    {options.map((opt) => <option value={opt}>{opt}</option>)}
  </select>
</div>
